*{
    margin: 0;
    padding: 0;
}

.wrapper  ul{
    list-style: none;
    margin-top: 2%;
}

body{
    width: 80%;
    margin: 0 auto;
}
.wrapper{
    width: 860px;
    margin: o auto;
}

.wrapper ul li{
    height: 50px;
    width: 100px;
    text-align: center;
    color: #fff;
    background: lightskyblue;
    border: 2px solid lightpink;
    line-height: 50px;
    float: left;
    position: relative;
    left: 0;
    font-size: 14px;
    font-family: 'big john';
}

.wrapper ul li:hover{
    background-color: crimson;
}

.wrapper ul ul{
    display: none;
    
}

.wrapper ul li:hover > ul{
    display: block;
}

.wrapper ul ul ul{
    margin-left: 100px;
    position: absolute;
    top: 0px;
}